@charset "utf-8";
/*-----------------------------------------------------
 common style font-size
-----------------------------------------------------*/
.fs1 {
        font-size: 80%;
}
.fs2 {
        font-size: 90%;
}
.fs3 {
        font-size: 110%;
}
.fs4 {
        font-size: 140%;
}
.fs5 {
        font-size: 220%;
}
/*-----------------------------------------------------
 common style font-weight
-----------------------------------------------------*/
.fw1 {
        font-family: 'Roboto', 'Noto Sans JP', sans-serif;
        font-weight: 600;
}
/*-----------------------------------------------------
 common style txt_img aline
-----------------------------------------------------*/
.txt_left {
        text-align: left;
}

.txt_cent {
        text-align: center;
}
.img_cent {
        text-align: center;
        display: block;
        margin: auto;
}
.img_right {
        display: block;
        margin-left: auto;
}
.img_rwd_r {
        float: right;
        margin-left: 50px;
        margin-bottom: 20px;
        overflow: auto;
        zoom: 1;
}
.img_rwd_l {
        float: left;
        margin-right: 50px;
        margin-bottom: 20px;
        overflow: auto;
        zoom: 1;
}
.img_rwd_img_cent {
        display: block;
        padding-bottom: 40px;
        overflow: auto;
        zoom: 1;
        text-align: center;
        margin: auto;
}
/*-----------------------------------------------------
 common style margin & padding
-----------------------------------------------------*/
.marB5 {
        margin-bottom: 5px;
}
.marB10 {
        margin-bottom: 10px;
}
.marB15 {
        margin-bottom: 15px;
}
.marB20 {
        margin-bottom: 20px;
}
.marB25 {
        margin-bottom: 25px;
}
.marB30 {
        margin-bottom: 30px;
}
.marB35 {
        margin-bottom: 35px;
}
.marB50 {
        margin-bottom: 50px;
}
.marT5 {
        margin-top: 5px;
}
.marT10 {
        margin-top: 10px;
}
.marT15 {
        margin-top: 15px;
}
.marT20 {
        margin-top: 20px;
}
.marT25 {
        margin-top: 25px;
}
.marT30 {
        margin-top: 30px;
}
.marT35 {
        margin-top: 35px;
}
.marT45 {
        margin-top: 45px;
}
.marL5 {
        margin-left: 5px;
}
.marL10 {
        margin-left: 10px;
}
.marL15 {
        margin-left: 15px;
}
.marL20 {
        margin-left: 20px;
}
.marL25 {
        margin-left: 25px;
}
.marL30 {
        margin-left: 30px;
}
.marL35 {
        margin-left: 35px;
}
.marR5 {
        margin-right: 5px;
}
.marR10 {
        margin-right: 10px;
}
.marR15 {
        margin-right: 15px;
}
.marR20 {
        margin-right: 20px;
}
.marR25 {
        margin-right: 25px;
}
.marR30 {
        margin-right: 30px;
}
.marR35 {
        margin-right: 35px;
}
.padT5 {
        padding-top: 5px;
}
.padT10 {
        padding-top: 10px;
}
.padT15 {
        padding-top: 15px;
}
.padT20 {
        padding-top: 20px;
}
.padT25 {
        padding-top: 25px;
}
.padT30 {
        padding-top: 30px;
}
.padT35 {
        padding-top: 35px;
}
.padB5 {
        padding-bottom: 5px;
}
.padB10 {
        padding-bottom: 10px;
}
.padB15 {
        padding-bottom: 15px;
}
.padB20 {
        padding-bottom: 20px;
}
.padB25 {
        padding-bottom: 25px;
}
.padB30 {
        padding-bottom: 30px;
}
.padB35 {
        padding-bottom: 35px;
}
.padB50 {
        padding-bottom: 50px;
}
/*-----------------------------------------------------
 common style width
-----------------------------------------------------*/
.w20 {
        width: 20px;
}
.w60 {
        width: 60px;
}
.w80 {
        width: 80%;
}
.w100 {
        width: 100px;
}
.w120 {
        width: 120px;
}
.w200 {
        width: 200px;
}
.w300 {
        width: 300px;
}
.w455 {
        width: 455px;
}
/*-----------------------------------------------------
 img
-----------------------------------------------------*/
.max80 {
        max-width: 80%;
}
/*-----------------------------------------------------
Link Button
-----------------------------------------------------*/
.linkpdf a {
        background: url(../img/icon_pdf.gif) no-repeat left center;
        padding-left: 20px;
        margin-left: 5px;
}
.linkmail a {
        background: url(../img/icon_mail.gif) no-repeat left center;
        padding-left: 20px;
        margin-left: 5px;
}
.linkie a {
        background: url(../img/icon_ie.gif) no-repeat left center;
        padding-left: 20px;
        margin-left: 5px;
}
.linkword a {
        background: url(../img/icon_word.gif) no-repeat left center;
        padding-left: 20px;
        margin-left: 5px;
}
.linkxls a {
        background: url(../img/icon_excel.gif) no-repeat left 1px;
        padding-left: 20px;
        margin-left: 5px;
}
/*-----------------------------------------------------
YouTube
-----------------------------------------------------*/
.youtube {
        width: 100%;
        aspect-ratio: 16 / 9;
}
.youtube iframe {
        width: 100%;
        height: 100%;
}
/*-----------------------------------------------------
画像加工
-----------------------------------------------------*/
.img_kadoR {
        border-radius: 7px;
}
/*-----------------------------------------------------
H3スタイル
-----------------------------------------------------*/
.heading04 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        text-align: center;
}
.heading04::before, .heading04::after {
        content: '';
        width: 3px;
        height: 40px;
        background-color: #3fc1c9;
}
.heading04::before {
        margin-right: 30px;
        transform: rotate(-35deg)
}
.heading04::after {
        margin-left: 30px;
        transform: rotate(35deg)
}
/*-----------------------------------------------------
H3スタイル
-----------------------------------------------------*/
.heading05 {
        margin-top: 0 !important;
        font-size: 1.2rem !important;
}
/*-----------------------------------------------------
QA
-----------------------------------------------------*/
.qa dt {
        margin-bottom: 1em;
        color: #333333;
        font-weight: 600;
        font-family: 'Barlow', 'Noto Sans JP', sans-serif;
        font-size: 1rem;
}
.qa dt::before, .qa dd::before {
        margin-right: .4em;
}
.qa dt::before {
        content: "Q.";
        font-size: 1.5rem;
}
.qa dd {
        margin: 0 0 2.5em;
        padding: 1em 1.5em;
        background-color: #FFF;
        color: #333333;
        border-radius: 7px;
}
.qa dd::before {
        content: "A.";
}
/*-----------------------------------------------------
pagination
-----------------------------------------------------*/
.pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 8px;
        list-style-type: none;
        padding: 50px 0 0 0;
}
.pagination a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border-radius: 1px;
        background-color: #FFF;
        color: #2589d0;
}
.pagination a:not(:hover) {
        text-decoration: none;
}
.pagination .current a {
        background-color: #2589d0;
        color: #fff;
        pointer-events: none;
}
/*-----------------------------------------------------
吹き出し
-----------------------------------------------------*/
.balloon {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 100%;
        margin-top: 15px;
        padding: .5em 1.2em;
        border: 3px solid #2589d0;
        border-radius: 5px;
        background-color: #fff;
        color: #333333;
        font-size: 11px;
        font-weight: 600;
        font-family: 'Barlow', 'Noto Sans JP', sans-serif;
}
.balloon::before, .balloon::after {
        position: absolute;
        top: -15px;
        width: 30px;
        height: 15px;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        content: '';
}
.balloon::before {
        background-color: #2589d0;
}
.balloon::after {
        top: -11px;
        background-color: #fff;
}
.balloon-interview {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 100%;
        margin-bottom: 15px;
        padding: .8em 1.2em;
        border: 3px solid #2589d0;
        border-radius: 5px;
        background-color: #2589d0;
        color: #FFF;
        font-family: 'Roboto', 'Noto Sans JP', sans-serif;
        font-size: 17px;
        font-weight: 500;
}
.balloon-interview::before, .balloon-interview::after {
        position: absolute;
        bottom: -15px;
        width: 30px;
        height: 15px;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        content: '';
}
.balloon-interview::before {
        background-color: #2589d0;
}
.balloon-interview::after {
        bottom: -11px;
        background-color: #2589d0;
}

.scroll-table {
  overflow: auto;
  white-space: nowrap;
}